/*------------------------------------------------------- GLOBAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navBar__list > *,
.navBar__search-field > *,
.footer__form > *,
a,
h1,
h2,
p {
  font-family: 'Oxygen, Roboto_Mono', sans-serif;
  color: white;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.navigation-bar,
.hero__title,
.hero__text,
.navBar__list,
.navBar__search-field > *,
.footer__form > * {
  background: transparent;
}

.body {
  width: 100%;
  background-image: url('./images/backgroundbw2.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.foreground {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}
.foreground > img {
  filter: grayscale(75%) contrast(100%) brightness(30%);
}

.foreground__left {
  position: absolute;
  left: 0;
  bottom: -10%;
  width: 25%;
  height: auto;
  z-index: 30;
}
.foreground__left-leaves {
  position: absolute;
  left: 0;
  top: 65%;
  width: 20%;
  height: auto;
  z-index: 30;
}

.foreground__left-flower {
  position: absolute;
  left: 0;
  top: 25%;
  width: 25%;
  height: auto;
  z-index: 30;
}
.foreground__right {
  position: absolute;
  right: 0;
  top: 0;
  width: 30%;
  height: auto;
  z-index: 30;
}

.foreground__right-flower {
  position: absolute;
  right: 0;
  top: 60%;
  width: 30%;
  height: auto;
  z-index: 30;
}

.foreground__right-leaves {
  position: absolute;
  right: 0;
  top: 40%;
  width: 20%;
  height: auto;
  z-index: 30;
}

/* .content {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
} */

/*------------------------------------------------------- HEADER */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100vw - 8.5rem);
  z-index: 100;
  background: transparent;
  margin: 0rem 5rem;
  top: 4rem;
  position: sticky;
}

/*------------------------------------------------------- NAVBAR */
.navBar__search-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5rem 1rem;
  padding: 0.5rem 1rem;
}

.navBar__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 0.5rem 1rem;
}

.navBar__list > li {
  list-style-type: none;
  margin: 0 1rem;
  padding: 0.5rem 1rem;
}

/*------------------------------------------------------- MAIN WRAPPER */
.main__wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-top: -3.5rem;

  overflow: hidden;
  perspective: 1px;
}

/*------------------------------------------------------- MAIN CONTENT */
.main__content {
  width: calc(100% - 8rem);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(2rem, 1fr);
  margin: 4rem;
}

/*------------------------------------------------------- MAIN HERO */
.main__hero {
  grid-column: span 10;
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  max-height: calc(100vh - 8rem);

  z-index: 2;
  position: relative;
  overflow: hidden;
}

.main__hero img {
  object-fit: cover;
  object-position: 50% 17%;

  width: 100%;
  height: 100%;
}

.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.5) 10%, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0.1) 100%);
  z-index: 3;
}

.hero__title,
.hero__text {
  margin: 0.5rem 1rem;
  padding: 0.5rem 1rem;
  z-index: 10;
}

/* ------------------------------------------------------- MAIN INFO BOX */

.main__aboutText-Box,
.main__aboutInfo-Box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: black;
  margin-top: 4rem;
  padding: 2rem;
}

.main__aboutInfo-Box {
  grid-column: 1 / span 5;
  margin-left: auto;
  width: 100%;
}
.main__aboutInfo-Box--info {
  margin-left: 50%;
  margin-right: 35%;
}

.main__aboutText-Box {
  grid-column: 6 / span 5;
}
.main__aboutText-Box--text-btn {
  margin: 1rem 10rem 1rem 0;
}

/* ------------------------------------------------------- MAIN IMAGE ICON BOXES */
.main__imageIcon-Box-1,
.main__imageIcon-Box-2,
.main__imageIcon-Box-3 {
  background-color: black;
  margin-top: 4rem;
}

.main__imageIcon-Box-1 {
  grid-column: 3 / span 2;
}
.main__imageIcon-Box-2 {
  grid-column: 5 / span 2;
}
.main__imageIcon-Box-3 {
  grid-column: 7 / span 2;
}

.imageIcon__Box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.imageIcon__Box2 {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.imageIcon__Box1 img,
.imageIcon__Box2 img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.imageIcon__Box--icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.imageIcon__Box--icon img {
  width: 3rem;
  height: 3rem;
  margin-bottom: 1rem;
}

/* ------------------------------------------------------- MAIN IMAGE BOXES */
.main__imageBox-2,
.main__imageBox-3,
.main__imageBox-4,
.main__quoteBox-5 {
  display: flex;
  margin-top: 4rem;
  background-color: black;
}

/* ------------------------------------------------------- MAIN IMAGE BOX 1 */
.main__imageBox-1 {
  grid-column: span 10;
  display: flex;
  margin-top: 4rem;
  background-color: black;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.main__imageBox-1 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.imageBox-1__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.15) 0%,
    rgba(0, 0, 0, 0.35) 9%,
    rgba(0, 0, 0, 0.55) 18%,
    rgba(0, 0, 0, 0.75) 27%,
    rgba(0, 0, 0, 0.85) 50%,
    rgba(0, 0, 0, 0.75) 73%,
    rgba(0, 0, 0, 0.65) 82%,
    rgba(0, 0, 0, 0.35) 91%,
    rgba(0, 0, 0, 0.15) 100%
  );
  z-index: 3;
}

.imageBox-1__text {
  width: 25%;
  margin: 2rem 0;
  z-index: 10;
}

.imageBox-1__text h2 {
  text-align: right;
  z-index: 10;
}

.imageBox-1__text h2:first-of-type {
  margin-right: 3rem;
  z-index: 10;
}

.imageBox-1__text h2:last-of-type {
  margin-right: 1rem;
  z-index: 10;
}

.whiteBar {
  display: block;
  width: 50%;
  height: 0.5rem;
  background-color: white;
  margin: 0.5rem 0;
  z-index: 10;
}

/* ------------------------------------------------------- MAIN IMAGE BOX 2 */
.main__imageBox-2 {
  grid-column: 1 / span 6;
  grid-row: span 5;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
  /* max-height: 30rem; */
}

.main__imageBox-2 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: 60% 10%;
}

.imageBox-2__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  background: radial-gradient(
    circle farthest-corner at bottom right,
    rgba(0, 0, 0, 0.98) 0%,
    rgba(0, 0, 0, 0.92) 9%,
    rgba(0, 0, 0, 0.88) 18%,
    rgba(0, 0, 0, 0.75) 28%,
    rgba(0, 0, 0, 0.55) 38%,
    rgba(0, 0, 0, 0.25) 45%,
    rgba(0, 0, 0, 0.15) 63%,
    rgba(0, 0, 0, 0.1) 81%,
    rgba(0, 0, 0, 0) 100%
  );

  z-index: 3;
}

.imageBox-2__text {
  position: absolute;
  width: 25%;
  margin: 1rem 2rem 1rem auto;
}

/* ------------------------------------------------------- MAIN IMAGE BOX 3 */
.main__imageBox-3 {
  grid-column: 7 / span 4;
  grid-row: span 5;
  position: relative;
  border-bottom: 0.1rem solid rgb(255, 2, 2);
  border-left: 0.1rem solid rgb(255, 2, 2);
  /* max-height: 30rem; */
  z-index: 2;
}

.main__imageBox-3 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: 50% 0;
}

.imageBox-3__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: rgba(0, 0, 0, 0.237);

  z-index: 3;
}

.imageBox-3__text {
  position: absolute;
  width: 25%;
  margin: 1rem 3rem 1rem auto;
}

/* ------------------------------------------------------- MAIN IMAGE BOX 4 */
.main__imageBox-4 {
  flex: 1;
  grid-column: 1 / span 4;
  grid-row: span 5;
  position: relative;
}

.main__imageBox-4 img {
  object-fit: cover;
  width: 100%;
  height: auto;
  object-position: 50% 90%;
}

.imageBox-4__overlay {
  position: absolute;
  inset: 30% -10% 10% 10%;
  background-color: rgba(255, 2, 2, 0.4);
  z-index: 3;
  transition: transform 0.1s ease, background-color 0.3s ease;
  transform-style: preserve-3d;
  perspective: 1000px;
  transform: rotateX(0deg) rotateY(0deg);
}

/* ------------------------------------------------------- MAIN QUOTE BOX 5 */
.main__quoteBox-5 {
  grid-column: 5 / span 6;
  grid-row: span 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: 100%;
  padding: 2rem 6rem;
  /* max-height: 30rem; */
}

.quote__text {
  position: relative;
  width: 100%;
  margin: 2rem 0;
}

.quote__text p {
  font-style: italic;
}

.quote-marks {
  font-size: 8rem;
  line-height: 1;
  color: white;
}

.quote-marks-left {
  position: absolute;
  top: -4rem; /*  Wert , um die vertikale Position zu justieren */
  left: -1rem; /*  Wert , um die horizontale Position zu justieren */
}

.quote-marks-right {
  position: absolute;
  bottom: -7.5rem; /* Wert, um die vertikale Position zu justieren */
  right: 2rem; /* Wert, um die horizontale Position zu justieren */
}

/* ----------------------------------------------------------------- FOOTER */
.footer {
  grid-column: span 10;
  margin-top: 4rem;
  position: relative;
  background-color: black;
  color: white;
  text-align: center;
}

.footer img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.footer__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background-color: rgba(0, 0, 0, 0.223);

  z-index: 3;
}

.footer__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  margin: 3rem 0 auto 0;
  padding: 2rem 0;
}

.footer__text p {
  text-align: left;
  margin-top: 1rem;
}

.footer__form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 2rem 0;
  margin: auto 0 4rem 0;
}

.footer__form input {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: transparent;
  margin: 0.5rem 0 0.5rem 1rem;
  padding: 0.5rem 1rem;
}

.footer__form button {
  background-color: red;
  color: white;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  margin-left: 1rem;
}
