* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* main {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
} */

main {
  flex: 1;
  display: grid;
  grid-template-rows: 100vh auto auto;
  position: relative;
}

/* ---------------------------------------------------------------------  HEADER ------- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
  background-color: rgba(63, 102, 145, 0);
  position: sticky;
  top: 0;
  z-index: 100;
}

nav {
  display: flex;
  width: 100%;
}

nav ul {
  display: flex;
  list-style: none;
  margin-right: 3rem;
  padding: 0;
  margin-left: auto;
}

nav li {
  border: 1px solid black;
  border-radius: 0.1rem;
  padding: 0.2rem 0.5rem;
  margin: 0 0.5rem;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 2rem;
}

nav a:hover {
  color: rgba(71, 15, 11, 1);
  text-shadow: 0 0 5px rgba(255, 255, 255, 1);
}

/* ---------------------------------------------------------------------  LANDING ------- */

.landing {
  /* display: flex;
  width: 100%;
  height: 100%; */
  height: 100vh;
  position: relative;
  grid-row: 1; /**/
}

.landing__text,
.landing__image {
  position: absolute;
  top: -4rem;
  left: 0;
  height: 100%;
  width: 100%;
}

.landing__text {
  /* width: 33.33%; */
  background-color: #3498db;
  border: 2px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  clip-path: polygon(0% 0%, 25% 0%, 33.33% 50%, 25% 100%, 0% 100%);
}

.landing__image {
  /* width: 66.66%; */
  background-color: #e74c3c;
  border: 2px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 33.33% 50%);
}

/* -------------------------------------------------------------  ICON CONTAINER ------- */

.iconContainer {
  /* position: absolute;
  top: 70vh; */
  position: relative;
  margin-top: -30vh;
  left: 0;
  height: 60vh;
  width: 100%;
  z-index: 3;
  clip-path: polygon(0% 0%, 50% 33.33%, 100% 0%, 100% 100%, 0% 100%);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 3rem;
  background-color: #f1c40f;
  border: 2px solid black;
  grid-row: 2;
}

.iconContainer__icon {
  background-color: #e67e22;
  border: 2px solid black;
  padding: 1rem 2rem;
  margin: 0 2rem;
}

/* -------------------------------------------------------------  CONTENT CONTAINER ------- */

.contentContainer {
  display: grid;

  justify-content: center;
  align-items: center;
  padding: 1rem;
  /* height: 100%; */
  width: 100%;
  background-color: cadetblue;
  z-index: 4;
  grid-row: 3;
  min-height: 50vh;
}
