* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: -3rem;
}

main {
  display: grid;
  height: auto;
  position: relative;
}

/* ----------------------------------------------------------------  NAVBAR ------- */

nav {
  display: flex;
  width: 100%;
  height: 2rem;
  position: sticky;
  top: 2rem;
  z-index: 100;
}

nav ul {
  display: flex;
  list-style: none;
  margin-right: 4rem;
  margin-left: auto;
}

nav li {
  border: 1px solid black;
  border-radius: 0.1rem;
  padding: 0.2rem 0.5rem;
  margin: 0 0.5rem;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 2rem;
}

nav a:hover {
  color: rgba(71, 15, 11, 1);
  text-shadow: 0 0 5px rgba(255, 255, 255, 1);
}

/* --------------------------------------------------------------GRID ROW 1 - LANDING ------- */

.landing {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  grid-row: 1;
}
.landing__image {
  width: 100%;
  padding-right: 4rem;
  background-color: #e74c3c;

  display: flex;
  z-index: 1;
}
.landing__shadow {
  background-color: #2b97cd6d;
  width: 35%;
  height: 100%;

  z-index: 3;
  /* clip-path: polygon(0% 0%, 80% 0%, 100% 50%, 80% 100%, 0% 100%); */
}

.landing__text {
  margin-left: -2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10% 30%;
  background-color: #3498db;
  height: 100%;
  width: 100%;

  z-index: 2;
}

.landing__shadow,
.landing__text {
  --clip-angle: 10deg; /* Definiert den Winkel */
  clip-path: polygon(
    0% 0%,
    calc(100% - (100% * tan(var(--clip-angle)))) 0%,
    100% 50%,
    calc(100% - (100% * tan(var(--clip-angle)))) 100%,
    0% 100%
  );
}

.landing__text__bigIcon {
  width: 100%;
  height: auto;
  background-color: #b5e1ff;
}

.landing__text__linkList {
  margin-top: 2rem;
  width: 100%;
  height: auto;
  background-color: #b5e1ff;
}

.dot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 25% 15% 0 auto;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.dot:hover {
  transform: scale(1.2);
  background-color: #000000;
}

/* ---------------------------------------------------- GRID ROW 2 - MAJOR CONTENT CONTAINER ------- */

.majorContainer {
  /* --> mC */
  position: relative;
  width: 100%;
  z-index: 3;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 3rem 0;
  background-color: #ffff55;
  border: 2px solid black;

  grid-row: 2;
}
.majorContainer::before {
  content: "";
  position: absolute;
  top: -10%;
  left: 0;
  width: 100%;
  height: 116%;
  z-index: -1;
  background-color: #ffff55;
  /* clip-path: polygon(0 0, 50% 5%, 100% 0, 100% 95%, 50% 100%, 0 95%); */
  --clip-angle: 2.86deg; /* Entspricht ungefähr 5% von 100% */
  clip-path: polygon(
    0 0,
    /* Punkt 1: Oben links */ 50% calc(100% * tan(var(--clip-angle))),
    /* Punkt 2: Oben Mitte */ 100% 0,
    /* Punkt 3: Oben rechts */ 100% calc(100% - (100% * tan(var(--clip-angle)))),
    /* Punkt 4: Unten rechts */ 50% 100%,
    /* Punkt 5: Unten Mitte */ 0 calc(100% - (100% * tan(var(--clip-angle))))
      /* Punkt 6: Unten links */
  );
}

/* ----------------------------------------------------------  MAJOR C -> ICON ROW CONTAINER ------- */

.majorContainer__iconRow {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 3rem;
  width: 75%;
}

.mC__iconRow__icon {
  background-color: #e67e22;
  border: 2px solid black;
  padding: 1rem 2rem;
}

/* -----------------------------------------------------------  MAJOR C -> BOX ROW CONTAINER ------- */

.majorContainer__boxRow {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 1rem 0;
  background-color: #e74c3c;
  border: 2px solid black;
  margin: 2rem 0;
}

/* ---------------------------------------------------------  MAJOR C -> HEADING 1 CONTAINER ------- */

.mC__boxRow__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: 2rem 0 2rem 0;
  height: 3rem;
  width: 6rem;
  background-color: bisque;
  border: 2px solid black;
}
/* -------------------------------------------------  MAJOR C -> BOX ROW CONTAINER ------------------ */
.mC__boxRow__itemRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
  margin: 0.1rem 0;
}
/* ----------------------------------------------  MAJOR C -> BOX ROW ITEM CONTAINERS -->  BOX ------ */
.mC__boxRow__itemRow__box {
  flex: 1;
  margin-right: 1.5rem;
  display: flex;
  flex-direction: column;
}

/* --------------------------------  MAJOR C -> BOX ROW CONTAINER ->  BOX -> TOP / BOTTOM BOX ------ */
.box__bottomBox {
  background-color: #d4d2d1;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  aspect-ratio: 1/1.25;
}

.box__topBox {
  background-color: #78ff85;
  width: 100%;
  height: 45%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 100%, 0% 80%);
  z-index: 5;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----------------------------------------------  MAJOR C -> BOX ROW CONTAINER --> RIGHT BOX ------ */
.mC__boxRow__itemRow__rightBox {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.rightBox__dateBox {
  flex: 1;
  display: flex;
  flex-direction: row;
}
.dateBox__dateText {
  width: 100%;
  height: 100%;
  background-color: #e8e4e3;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.dateBox__date {
  height: 100%;
  width: 25%;
  background-color: #78ff85;
  clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 100% 50%, 50% 0%);
  z-index: 5;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* --------------------------------------------------------  MAJOR C -> BUTTON ROW CONTAINER ------- */

.mC__btnRow {
  position: relative;
  display: flex;
  flex-direction: row;

  width: 75%;
  padding: 0.5rem 0;
  margin: 1rem 0 4rem 0;
}

.mC__btnRow--action1-BTN,
mC__btnRow--action2-BTN,
mC__btnRow--action3-BTN {
  margin-left: auto;
}

.mC__btnRow--back-BTN {
  margin-right: 0.2rem;
}

.mC__btnRow--forth-BTN,
.mC__btnRow--back-BTN {
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 0.3rem;
  background-color: #e8e4e3;
  border: 2px solid black;
}

.mC__btnRow--action1-BTN {
  width: 6rem;
  height: 2rem;
  background-color: #0bbd1d;
  border: 2px solid black;
}
.mC__btnRow--action2-BTN {
  width: 6rem;
  height: 2rem;
  background-color: #facc37;
  border: 2px solid black;
  margin-left: 1rem;
}
.mC__btnRow--action3-BTN {
  width: 6rem;
  height: 2rem;
  background-color: #e8e4e3;
  border: 2px solid black;
  margin-left: 1rem;
}

/* -----------------------------------------------------  MAJOR C -> INFO BAR CONTAINER ------- */

.mC__infoBar {
  z-index: 3;
  position: relative;
  display: flex;
  flex-direction: row;
  align-content: center;

  width: 75%;
  height: 6rem;
  margin-top: -5rem;
}

.mC__infoBar__icon-txt {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(30, 147, 210);
  width: 25%;
  height: 100%;
  clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
}

.mC__infoBar__infoText-backForthBtn {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1rem;
  background-color: rgb(117, 209, 255);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%, 2% 50%);
}

.infoText-backForthBtn__infoText {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 3rem;
}

/* -----------------------------------------------------  MAJOR C -> HEADING 2 CONTAINER ------- */

/* -----------------------------------------------------  MAJOR C -> IMAGE ROW CONTAINER ------- */

.mC__imageRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
}

.mC__imageRow__imageBox,
.mC__imageRow__infoBox {
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mC__imageRow__imageBox {
  flex: 1;
  background-color: #fff;
  border: 2px solid black;
  margin-right: 1rem;
  justify-content: flex-end;
}

.imageBox--text {
  width: 100%;
  height: 30%;
  background-color: rgba(120, 255, 133, 0.5);
  clip-path: polygon(0% 30%, 50% 0%, 100% 30%, 100% 100%, 0% 100%);
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mC__imageRow__infoBox {
  flex: 1;
  background-color: rgba(120, 255, 133, 0.5);
  border: 2px solid black;
}
/* ---------------------------------------------------    GRID ROW 3  FOOTER CONTAINER ------- */

.footer {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
  align-items: center;

  width: 100%;
  height: auto;

  padding-top: 12.5%;
  background-color: #1abc9c;
  grid-row: 3;
}

/* -------------------------------------    GRID ROW 3  FOOTER CONTAINER-TEXT AREA-TEXT BTN   ------- */

.footer__textArea {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  width: 75%;
  margin: 0.5rem 0;
}

.footer__textArea__textBtn {
  width: 25%;
  background-color: #fff;
  border: 1px solid black;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: flex-start;
}

.footer__textArea__textBtn__text1 {
  width: fit-content;
}

.footer__textArea__textBtn__btn1 {
  width: fit-content;
}

.footer__textArea__textBtn__text2 {
  width: fit-content;
}

.footer__textArea__textBtn__btn2 {
  width: fit-content;
}

/* -----------------------------------------    GRID ROW 3  FOOTER CONTAINER-TEXT AREA-IMAGE   ------- */

.footer__textArea__image {
  width: 50%;
  background-color: #fff;
  border: 1px solid black;
  margin: 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --------------------------------------------    GRID ROW 3  FOOTER CONTAINER-BOTTOM BAR   ------- */

.footer__bottomBar {
  width: 75%;
  height: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border: 1px solid black;
  margin: 1rem 0 3rem 0;
}

.footer__bottomBar__impressum {
  flex: 1;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: bisque;
}

.footer__bottomBar__iconRow {
  flex: 1;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: gold;
}

.footer__bottomBar__iconRow__icon {
  background-color: #fff;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1023px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  nav ul {
    width: 100%;
    justify-content: space-between;
    margin-left: 3rem;
  }

  .landing {
    height: 100vh;
  }

  .landing__text {
    padding: 40% 30%;
    background-color: #3498db;
  }

  .majorContainer::before {
    top: -6%;
    height: 100%;
  }

  .majorContainer__iconRow {
    justify-content: space-between;
  }

  .mC__boxRow__itemRow {
    flex-wrap: wrap;
    /* flex-direction: column; */
    align-items: center;
    gap: 1.5rem;
    width: 75%;
  }
  .mC__boxRow__itemRow__box,
  .mC__boxRow__itemRow__rightBox {
    flex-basis: calc(45% - 1rem);
    margin-right: 0;
    margin-bottom: 1.5rem;
  }

  .mC__boxRow__itemRow__rightBox {
    flex: 1;
    display: flex;
    flex-direction: row;
    aspect-ratio: 4/1;
    gap: 1.5rem;
  }

  .mC__imageRow {
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .mC__imageRow__imageBox,
  .mC__imageRow__infoBox {
    margin: 0;
    flex-basis: 40%;
  }

  .footer__textArea {
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 0;
  }

  .footer__textArea__textBtn {
    flex-basis: calc(50% - 0.75rem);
    width: 50%;
    margin: 0;
  }

  .footer__textArea__image {
    width: 100%;
    margin: 0;
  }

  .footer__bottomBar {
    flex-direction: column;
    height: auto;
  }

  .footer__bottomBar__impressum,
  .footer__bottomBar__iconRow {
    width: 100%;
    justify-content: center;
    padding: 0.5rem 0;
  }

  .mC__btnRow,
  .mC__infoBar {
    width: 100%;
    flex-wrap: nowrap;
  }
}
