* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --grid-spacing: 0.5rem;
}
body {
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

/*----------------------------------------              navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  height: 60px;
  padding: 0 0;
  /*position: relative;*/
  position: sticky;
  top: 0;
  z-index: 1000;
}

/*----------------------------------------          burgerMenu */
.burgerMenu {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  cursor: pointer;
  order: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0;
  margin-left: 28px;
}

.burgerMenu span {
  display: block;
  width: 24px;
  height: 3px;
  background-color: rgb(0, 0, 0);
  transition: all 0.3s ease;
}
.burgerMenu:hover span {
  background-color: rgb(236, 173, 15);
}

/*-----------------------------------      burgerMenu-Dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  /* min-width: 100px; */
  width: 250px;
  top: 100%;
  left: 30px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content li {
  list-style-type: none;
}

.dropdown-content a {
  display: block;
  padding: 12px 16px;
  text-decoration: none;
  font-family: "montserrat", sans-serif;
  font-size: 0.8rem;
  height: 40px;
}
.dropdown-content a:hover {
  filter: brightness(0) saturate(100%) invert(77%) sepia(38%) saturate(1103%)
    hue-rotate(359deg) brightness(105%) contrast(104%);
  font-weight: bold;
  font-size: 1.2rem;
}

.show {
  display: block;
}

/*-------------------------------------------    navbar-label */
.label {
  flex-grow: 1;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  order: 2;
  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
}
.label-text {
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
}

/*------------------------navbar-label-tooltip-dialog & image */

.label-text::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(236, 173, 15, 0.966);
  color: #000000;
  padding: 5px 60px;
  border-radius: 4px;
  font-size: 14px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 1.5s;
  z-index: 1;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "montserrat", sans-serif;
}

.label-text:hover::after {
  opacity: 1;
  visibility: visible;
}

.dialog {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 60px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: "montserrat", sans-serif;
}

.dialog-content {
  background-color: #ffffff;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  max-width: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.dialog-content img {
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 10px 0;
}

/*------------------------------------------      navbar-logo */
.logo {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  order: 3;
  margin-right: 30px;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}
.logo:hover img {
  filter: brightness(0) saturate(100%) invert(77%) sepia(38%) saturate(1103%)
    hue-rotate(359deg) brightness(105%) contrast(104%);
}

/*---------------------------------     horizontal line/div   */
.hr {
  background-color: rgb(236, 173, 15);
  height: 2px;
  border: none;
}

/*---------------------------------         gridlayout-wrapper */
.wrapper {
  margin: 0 auto;
  padding: 30px;
}

/*----------------------------    --------- gridlayout-fonts   */

/*----------------------------------- Basis-Layout für Desktop */

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 100%;
}

.grid-item {
  background-color: #ffffff;
  display: flex;

  font-family: "montserrat", sans-serif;
  font-size: 0.8rem;
}

.grid-item img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

/*--------------------------------------------  ROW 1 IMAGES   */
.item1-4x4-img1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  margin-right: var(--grid-spacing);
  margin-bottom: var(--grid-spacing);
}

.item2-2x1-txt1 {
  grid-column: 3 / span 2;
  grid-row: 1;
  margin-left: var(--grid-spacing);

  position: relative;
  padding-top: 5px;
}

.item2-2x1-txt1::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1rem;
  width: calc(25% + 1rem);
  height: 1px;
  background-color: rgb(236, 173, 15);
}

.item3-1x1-img2 {
  grid-column: 3;
  grid-row: 2;
  margin-left: var(--grid-spacing);
  margin-bottom: var(--grid-spacing);
}

.item4-1x1-txt2 {
  grid-column: 4;
  grid-row: 2;
  margin-bottom: var(--grid-spacing);

  border-top: 1px solid rgb(236, 173, 15);
  width: 50%;
  padding-top: 5px;
  padding-left: 5px;
}

/*---------------------------------------       ROW 2 IMAGES   */
.item5-1x1-txt3 {
  grid-column: 1;
  grid-row: 3;
  margin-top: var(--grid-spacing);

  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;

  padding-top: 5px;
  padding-right: 5px;
}

.item5-1x1-txt3::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 1px;
  background-color: rgb(236, 173, 15);
}

.item6-1x1-img3 {
  grid-column: 2;
  grid-row: 3;
  margin-right: var(--grid-spacing);
  margin-top: var(--grid-spacing);
}

.item7-2x1-txt4 {
  grid-column: 1 / span 2;
  grid-row: 4;
  margin-bottom: var(--grid-spacing);
  margin-top: var(--grid-spacing);
  margin-right: var(--grid-spacing);

  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;

  padding-top: calc(5px + 0.5rem);
}

.item7-2x1-txt4::before {
  content: "";
  position: absolute;
  top: 0.5rem;
  right: -1rem;
  width: calc(25% + 1rem);
  height: 1px;
  background-color: rgb(236, 173, 15);
}

.item8-4x4-img4 {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
  margin-bottom: var(--grid-spacing);
  margin-left: var(--grid-spacing);
  margin-top: var(--grid-spacing);
}

/*---------------------------------------       ROW 3 IMAGES   */
.item9-1x1-txt5 {
  grid-column: 1;
  grid-row: 5;
  margin-bottom: var(--grid-spacing);
  margin-top: var(--grid-spacing);

  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;

  padding-top: 5px;
  padding-right: 5px;
}

.item9-1x1-txt5::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 1px;
  background-color: rgb(236, 173, 15);
}

.item10-1x1-img5 {
  grid-column: 2;
  grid-row: 5;
  margin-bottom: var(--grid-spacing);
  margin-right: var(--grid-spacing);
  margin-top: var(--grid-spacing);
}

.item11-1x1-img6 {
  grid-column: 3;
  grid-row: 5;
  margin-left: var(--grid-spacing);
  margin-bottom: var(--grid-spacing);
  margin-top: var(--grid-spacing);
}

.item12-1x1-txt6 {
  grid-column: 4;
  grid-row: 5;
  margin-bottom: var(--grid-spacing);
  margin-top: var(--grid-spacing);

  border-top: 1px solid rgb(236, 173, 15);
  width: 50%;
  padding-top: 5px;
  padding-left: 5px;
}

/*-----------------------------------------  QUOTE ROW     */
.item13-2x1-quote1 {
  grid-column: 2;
  grid-row: 6;
  margin-bottom: var(--grid-spacing);
  margin-right: var(--grid-spacing);
  margin-top: var(--grid-spacing);

  display: flex;
  flex-direction: column;
}

.item14-2x1-quote2 {
  grid-column: 3;
  grid-row: 6;
  display: flex;
  flex-direction: column;
  margin-left: var(--grid-spacing);
  margin-bottom: var(--grid-spacing);
  margin-top: var(--grid-spacing);
}

/*--------------------------------  FONT -> QUOTE / AUTHOR   */
blockquote {
  width: auto;
  margin-top: 28%;
  font-family: "montserrat", sans-serif;
  font-size: 0.7rem;
  font-style: italic;
}

blockquote::before,
blockquote::after {
  content: '"';
}

.author {
  font-style: normal;
  font-weight: bold;

  margin-top: 5px;
  font-size: 0.6rem;
}

/*---------------------  LAST ROW -> CONTACT DATA / INFO TEXT   */
.item15-1x2-txtContact {
  grid-column: 1;
  grid-row: 7 / span 2;
  display: flex;
  flex-direction: column;
  margin-bottom: var(--grid-spacing);
  margin-top: var(--grid-spacing);
}

.item16-4x4-txtBlock {
  grid-column: 2 / span 2;
  grid-row: 7 / span 2;
  display: flex;
  flex-direction: column;
  margin-bottom: var(--grid-spacing);
  margin-top: var(--grid-spacing);
}

/*---------------------------------  FONT -> TXTCONTACT / TEXT   */
.uppercaseBold {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "montserrat", sans-serif;
  font-size: 0.6rem;
  line-height: 2;
  margin-bottom: 1.5%;
}
.contactText {
  font-family: "montserrat", sans-serif;
  font-size: 0.5rem;
  line-height: 1.5;
}
.text {
  font-family: "montserrat", sans-serif;
  font-size: 1rem;
  margin-bottom: 3%;
}

.grid-sideText1 {
  grid-column: 1;
  grid-row: 7 / span 2;
  margin-right: calc(-1.2% * 4);
}

/*------------------------------------------ Tablet-Layout */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(16, 0.5fr); /* Ermöglicht halbe Reihen */
  }

  .grid-item {
    background-color: #ffffff;
    display: flex;

    font-family: "montserrat", sans-serif;
    font-size: 0.8rem;
  }

  .grid-item img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    aspect-ratio: 2 / 1;
  }

  /*---------------------------------------  ROW 1 IMAGES   */
  .item1-4x4-img1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 4;
    margin-right: var(--grid-spacing);
    margin-bottom: var(--grid-spacing);
  }

  .item2-2x1-txt1 {
    grid-column: 3;
    grid-row: 1;
    margin-left: var(--grid-spacing);

    position: relative;
    padding-top: 5px;
  }

  .item2-2x1-txt1::before {
    content: "";
    position: absolute;
    top: 0;
    left: -1rem;
    width: 50%;
    height: 1px;
    background-color: rgb(236, 173, 15);
  }

  .item3-1x1-img2 {
    grid-column: 3;
    grid-row: 3 / span 2;
    margin-left: var(--grid-spacing);
    margin-bottom: var(--grid-spacing);
  }

  .item4-1x1-txt2 {
    grid-column: 3;
    grid-row: 2;
    width: 100%;
    border-top: none;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
  }

  .item4-1x1-txt2::before {
    content: "";
    position: absolute;
    bottom: 20px;
    right: 0;
    width: 50%;
    height: 1px;
    background-color: rgb(236, 173, 15);
  }

  .item4-1x1-txt2::after {
    content: "";
    position: absolute;
    top: calc(100% - 20px);
    right: 0;
    width: 1px;
    height: 30px;
    background-color: rgb(236, 173, 15);
  }

  /*---------------------------------------  ROW 2 IMAGES   */
  .item5-1x1-txt3 {
    grid-column: 1;
    grid-row: 7;
    margin-top: var(--grid-spacing);

    display: flex;
    justify-content: flex-start; /* Ändert die Ausrichtung nach links */
    align-items: flex-start;
    position: relative;

    padding-top: 0px;
    padding-left: 10px;
  }

  .item5-1x1-txt3::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    width: 50%;
    height: 1px;
    background-color: rgb(236, 173, 15);
  }
  .item5-1x1-txt3::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 1px;
    height: 30px;
    background-color: rgb(236, 173, 15);
  }

  .item6-1x1-img3 {
    grid-column: 1;
    grid-row: 5 / span 2;
    margin-right: var(--grid-spacing);
    margin-top: var(--grid-spacing);
  }

  .item7-2x1-txt4 {
    grid-column: 1;
    grid-row: 8;
    margin-bottom: var(--grid-spacing);
    margin-top: var(--grid-spacing);
    margin-right: var(--grid-spacing);
    border-top: none;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;

    padding-bottom: 5px;
  }

  .item7-2x1-txt4::before {
    content: "";
    position: absolute;
    top: auto;
    bottom: 0;
    right: -1rem;
    width: calc(50% + 1rem);
    height: 1px;
    background-color: rgb(236, 173, 15);
  }

  .item8-4x4-img4 {
    grid-column: 2 / span 2;
    grid-row: 5 / span 4;
    margin-bottom: var(--grid-spacing);
    margin-left: var(--grid-spacing);
    margin-top: var(--grid-spacing);
  }
  /*---------------------------------------  ROW 3 IMAGES */
  .item9-1x1-txt5 {
    grid-column: 3;
    grid-row: 9 / span 2;
    margin: var(--grid-spacing) 0;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;

    padding-left: 5px;
    padding-right: 0;
  }

  .item9-1x1-txt5::before {
    left: 0;
    right: auto;
    width: 50%;
    height: 1px;
    background-color: rgb(236, 173, 15);
  }

  .item10-1x1-img5 {
    grid-column: 1 / span 2;
    grid-row: 9 / span 2;
    margin: var(--grid-spacing) 0;
  }

  .item11-1x1-img6 {
    grid-column: 2 / span 2;
    grid-row: 11 / span 2;
    margin: var(--grid-spacing) 0;
  }

  .item12-1x1-txt6 {
    grid-column: 1;
    grid-row: 11 / span 2;
    margin: var(--grid-spacing) 0;
    border-top: none;
    width: 100%;
    padding-top: 5px;
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
  }

  .item12-1x1-txt6::after {
    content: "";
    position: absolute;
    bottom: auto;
    top: 0;
    right: 0;
    width: 50%;
    height: 1px;
    background-color: rgb(236, 173, 15);
  }

  /*-----------------------------------------  QUOTE ROW     */
  .item13-2x1-quote1,
  .item14-2x1-quote2 {
    grid-column: 1 / span 3;
    grid-row: auto;
    margin: var(--grid-spacing) 0;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 0;
    height: auto;
  }

  .item13-2x1-quote1 blockquote,
  .item14-2x1-quote2 blockquote {
    width: 100%;
    margin-top: 0;
    font-size: clamp(0.8rem, 2vw, 1.2rem);
    line-height: 1.2;
    text-align: center;
    padding: 0 12.5%;
  }

  .item13-2x1-quote1 .author,
  .item14-2x1-quote2 .author {
    font-size: clamp(0.5rem, 1.5vw, 0.6rem);
    margin-top: 5px;
    padding-left: 25%;
    align-self: flex-start; /* Richtet den Autor links aus */
  }

  .item13-2x1-quote1 {
    grid-row: 13 / span 1;
  }
  .item14-2x1-quote2 {
    grid-row: 14 / span 1;
  }

  /*---------------------  LAST ROW -> CONTACT DATA / INFO TEXT   */
  .item15-1x2-txtContact {
    grid-column: 1;
    grid-row: 15 / span 4;
    display: flex;
    flex-direction: column;
    margin-bottom: var(--grid-spacing);
    margin-top: var(--grid-spacing);
  }

  .item16-4x4-txtBlock {
    grid-column: 2 / span 2;
    grid-row: 15 / span 4;
    display: flex;
    flex-direction: column;
    margin-bottom: var(--grid-spacing);
    margin-top: var(--grid-spacing);
  }
}

/*----------------------------------------------------------------- Mobiles Layout */
@media screen and (max-width: 767px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr) min-content repeat(3, 1fr) min-content repeat(
        13,
        1fr
      );
  }

  .grid-item {
    background-color: #ffffff;
    display: flex;

    font-family: "montserrat", sans-serif;
    font-size: 0.8rem;
  }

  .grid-item img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
  }

  .item1-4x4-img1 {
    grid-column: 1 / span 4;
    grid-row: 1 / span 4;
    margin: 0;
  }

  .item2-2x1-txt1 {
    grid-column: 1 / span 4;
    grid-row: auto;
    margin: var(--grid-spacing) 0;
    position: relative;
    padding: 0.5rem 0 0.5rem 1rem;
    align-self: flex-start;
  }

  .item2-2x1-txt1::before {
    content: "";
    position: absolute;
    top: 1.5rem;
    left: 0;
    width: 25%;
    /* height: 1px; */
    background-color: rgb(236, 173, 15);
  }

  .item2-2x1-txt1::after {
    content: "";
    position: absolute;
    bottom: 7px;
    left: 0;
    width: 1px;
    height: 2rem;
    background-color: rgb(236, 173, 15);
  }

  .item3-1x1-img2 {
    grid-column: 1 / span 2;
    grid-row: 6 / span 2;
    margin: 0 var(--grid-spacing) 0 0;
  }

  .item4-1x1-txt2 {
    grid-column: 3 / span 2;
    grid-row: 6 / span 1;

    border-top: 1px solid rgb(236, 173, 15);
    width: 50%;
    margin-left: -0.5rem;
    padding-top: 5px;
    padding-left: 1rem;
  }

  /*---------------------------------------       ROW 2 IMAGES   */
  .item5-1x1-txt3 {
    grid-column: 1 / span 2;
    grid-row: 8 / span 1;
    margin-top: var(--grid-spacing);

    justify-content: flex-end;
    align-items: flex-end;
    position: relative;

    padding-bottom: 5px;
    padding-right: 5px;
  }

  .item5-1x1-txt3::before {
    content: "";
    position: absolute;
    top: auto;
    bottom: 0;
    right: -0.5rem;
    width: 50%;
    height: 1px;
    background-color: rgb(236, 173, 15);
  }

  .item6-1x1-img3 {
    grid-column: 3 / span 2;
    grid-row: 7 / span 2;
    margin: 0 0 0 var(--grid-spacing);
  }

  .item7-2x1-txt4 {
    grid-column: 1 / span 4;
    grid-row: 9;
    margin: var(--grid-spacing) 0 var(--grid-spacing) 0;

    justify-content: flex-end;
    align-items: flex-start;
    position: relative;

    padding: 0.6rem 1rem 0.5rem 0;
    min-height: 0;
    height: auto;
  }

  .item7-2x1-txt4::before {
    content: "";
    position: absolute;
    top: 0.3rem;
    right: 0;
    width: 25%;
    height: 1px;
    background-color: rgb(236, 173, 15);
  }

  .item7-2x1-txt4::after {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    right: 0;
    width: 1px;
    height: 2.2rem;
    background-color: rgb(236, 173, 15);
  }

  .item8-4x4-img4 {
    grid-column: 1 / span 4;
    grid-row: 10 / span 4;
    margin: 0 0 var(--grid-spacing) 0;
  }

  /*---------------------------------------       ROW 3 IMAGES   */
  .item9-1x1-txt5 {
    grid-column: 1 / span 2;
    grid-row: 14 / span 1;
    margin-bottom: var(--grid-spacing);

    padding-top: 5px;
    padding-right: 5px;
  }
  .item9-1x1-txt5::before {
    content: "";
    position: absolute;
    top: 0;
    right: -0.5rem;
    width: 50%;
    height: 1px;
  }

  .item10-1x1-img5 {
    grid-column: 3 / span 2;
    grid-row: 14 / span 2;
    margin: var(--grid-spacing) 0 0 var(--grid-spacing);
  }

  .item11-1x1-img6 {
    grid-column: 1 / span 2;
    grid-row: 15 / span 2;
    margin-left: var(--grid-spacing);
    margin: 0 var(--grid-spacing) 0 0;
  }

  .item12-1x1-txt6 {
    grid-column: 3 / span 2;
    grid-row: 16 / span 1;
    margin: 0;
    padding: 0;

    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    border-bottom: 1px solid rgb(236, 173, 15);
    margin-left: -0.5rem;
    width: 50%;
    padding-bottom: 5px;
    padding-left: 1rem;
  }
  .item12-1x1-txt6::before {
    top: auto;
  }

  /*-----------------------------------------  QUOTE ROW     */

  .item13-2x1-quote1,
  .item14-2x1-quote2 {
    margin: calc(var(--grid-spacing) * 3) 0;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 0;
    height: auto;
  }

  .item13-2x1-quote1 blockquote,
  .item14-2x1-quote2 blockquote {
    width: 100%;
    margin-top: 0;
    font-size: clamp(0.8rem, 2vw, 1.2rem);
    line-height: 1.2;
    text-align: center;
    padding: 0 12.5%;
  }

  .item13-2x1-quote1 .author,
  .item14-2x1-quote2 .author {
    font-size: clamp(0.5rem, 1.5vw, 0.6rem);
    margin-top: 5px;
    padding: 0.5rem 12.5%;
    align-self: flex-start; /* Richtet den Autor links aus */
  }

  .item13-2x1-quote1 {
    grid-column: 1 / span 4;
    grid-row: 17 / span 1;
  }
  .item14-2x1-quote2 {
    grid-column: 1 / span 4;
    grid-row: 18;
  }

  /*---------------------  LAST ROW -> CONTACT DATA / INFO TEXT   */
  .item15-1x2-txtContact {
    grid-column: 1 / span 1;
    grid-row: 19 / span 2;
    flex-direction: column;
    margin: var(--grid-spacing);
  }

  .item16-4x4-txtBlock {
    grid-column: 2 / span 3;
    grid-row: 19 / span 2;
    flex-direction: column;
    margin: 0 0 var(--grid-spacing) 0;
  }
}
