* {
  margin: 0;
  padding: 0;
}

/*---------------------------------------- navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #aa1717;
  height: 30px;
  padding: 0 0;
}

.burgerMenu {
  width: 30px;
  height: 30px;
  background-color: #ccc;
  cursor: pointer;
  order: 1;
}

.label {
  flex-grow: 1;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  order: 2;
}

.logo {
  width: 30px;
  height: 30px;
  background-color: #ccc;
  order: 3;
}

/*----------------------------     horizontal line   */
.hr {
  background-color: darkgoldenrod;
  height: 3px;
  border: none;
}

/*---------------------------------   wrapper */
.wrapper {
  margin: 0 auto;
  padding: 15px;
}

/*---------------------------------   gird container */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(9, 1fr);
  gap: 10px;
}

.grid-item {
  background-color: #f0f0f0;
  display: flex;
  aspect-ratio: 1/1;
  border: #aa1717 1px solid;
}

.item1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.item2 {
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
}

.item3 {
  grid-column: 1 / span 2;
  grid-row: 3 / span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
}

.item4 {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
}

.grid-itemHalf1 {
  background-color: #f0f0f0;
  border: #aa1717 1px solid;
  grid-column: 1 / span 2;
  grid-row: 5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.grid-itemHalf2 {
  background-color: #f0f0f0;
  border: #aa1717 1px solid;
  grid-column: 3 / span 2;
  grid-row: 5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
.item7 {
  grid-column: 1 / span 2;
  grid-row: 6 / span 2;
}

.item8 {
  grid-column: 3 / span 2;
  grid-row: 6 / span 2;
}

.grid-sideText1 {
  background-color: #f0f0f0;
  border: #aa1717 1px solid;
  grid-column: 1;
  grid-row: 8 / span 2;
}

.item10 {
  grid-column: 2 / span 2;
  grid-row: 8 / span 2;
}

.grid-sideText2 {
  background-color: #f0f0f0;
  border: #aa1717 1px solid;
  grid-column: 4;
  grid-row: 8 / span 2;
}
/*-----------------------------quarterContainer */

.quarter1 {
  background-color: #f0f0f0;
  border: #aa1717 1px solid;
  grid-column: 1;
  grid-row: 1;
}

.quarter2 {
  background-color: #f0f0f0;
  border: #aa1717 1px solid;
  grid-column: 2;
  grid-row: 1;
}

.quarter3 {
  background-color: #f0f0f0;
  border: #aa1717 1px solid;
  grid-column: 1;
  grid-row: 2;
}

.quarter4 {
  background-color: #f0f0f0;
  border: #aa1717 1px solid;
  grid-column: 2;
  grid-row: 2;
}

.quarter5 {
  background-color: #f0f0f0;
  border: #aa1717 1px solid;
  grid-column: 1;
  grid-row: 1;
}

.quarter6 {
  background-color: #f0f0f0;
  border: #aa1717 1px solid;
  grid-column: 2;
  grid-row: 1;
}

.quarter7 {
  background-color: #f0f0f0;
  border: #aa1717 1px solid;
  grid-column: 1;
  grid-row: 2;
}

.quarter8 {
  background-color: #f0f0f0;
  border: #aa1717 1px solid;
  grid-column: 2;
  grid-row: 2;
}

/*-----------------------------halfContainer */
.textHalf1 {
  background-color: #f0f0f0;
  border: #aa1717 1px solid;
}

.imageHalf1 {
  background-color: #f0f0f0;
  border: #aa1717 1px solid;
}
